body{
    width: 1350px;
    height: 900px;
    background-image: url("tlo.jpg");
    margin: 0 auto;
}
header{
    width: 300px;
    height: 700px;
    background-color: rgba(48, 204, 252, 0.308);
    float: left;
}
section{
    width: 985px;
    height: 700px;
    background-color: #78aaef;
    color: black;
    float:left;
    overflow-y: scroll;
    padding-left: 15px;
}
footer{
    width: 1300px;
    height: 120px;
    background-color: #010080;
    color: white;
    float:left;
    text-align: center;
}
.underList{
    float: left;
    width: 200px;
    height: 460px;
}
ul li a, ul:nth-child(2) li a{
    height: 20px;
    padding-top: 6px;
}
ul:first-child{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
ul:first-child a{
    display: block;
    background-color: #6599e4;
    list-style: none;
}
ul:nth-child(2), ul:nth-child(2) a{
    display: block;
    background-color: #4377dd;
    list-style: none;
    padding:0;
}
ul a:link, ul a:visited{
    text-decoration: none;
    color:black;
    color: white;
    font-size: 100%;
    font-weight: 600;
}
ul a:hover{
    background-color: #89b5f3;
}
h1{
    font-size: xxx-large;
    color: rgb(0, 0, 150);
}
.klasa{
    font-size: xxx-large;
    color: rgb(0, 0, 150);
}
.imienazwisko{
    border: 2px black solid;
    height: 40px;
    width: 200px;
    float:left;
}
.opis{
    height: 130px;
    width: 300px;
    border: 2px black solid;
    float:inline-end
}
.wiek{
    border: 2px black solid;
    height: 70px;
    width: 150px;
    float:left;
}
.opcja{
    border: 15px black solid;
}