body{
    width: 1350px;
    height: 900px;
    background-image: url("tlo.jpg");
    margin: 0 auto;
}
header{
    width: 300px;
    height: 700px;
    background-color: rgba(48, 204, 252, 0.308);
    float: left;
}
section{
    width: 985px;
    height: 700px;
    background-color: RGB(120,170,239);
    color: black;
    float:left;
    overflow-y: scroll;
    padding-left: 15px;
}
footer{
    width: 1300px;
    height: 120px;
    background-color: RGB(1,0,128);
    color: white;
    float:left;
    text-align: center;
}
.underList{
    float: left;
    width: 200px;
    height: 460px;
}
ul li a, ul:nth-child(2) li a{
    height: 20px;
    padding-top: 6px;
}
ul:first-child{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
ul:first-child a{
    display: block;
    background-color: RGB(101,153,228);
    list-style: none;
}
ul:nth-child(2), ul:nth-child(2) a{
    display: block;
    background-color: RGB(67,119,221);
    list-style: none;
    padding:0;
}
ul a:link, ul a:visited{
    text-decoration: none;
    color:black;
    color: white;
    font-size: 100%;
    font-weight: 600;
}
ul a:hover{
    background-color: #89b5f3;
}
h1{
    font-size: xxx-large;
    color: rgb(0, 0, 150);
}
.klasa{
    font-size: xxx-large;
    color: RGB(34,51,152);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}

.left-column, .right-column {
    width: 45%;
}
.left-column{
    margin-left: 15px;
}

.opis, .opcja {
    margin-top: 10px;
}
.tabela{
    width: 960px;
    padding-bottom: 15px;
}
table{
    margin:0 auto;
}
td{
    width: 320px;
    height: 30px;
    text-align: center;
}
th{
    background-color: RGB(51,118,170);
    width: 300px;
    height: 30px;
}
tr:nth-child(even) {
    background-color: RGB(187,213,246);
}

tr:nth-child(odd) {
    background-color: RGB(120,170,239);
}