body{
    width: 1200px;
    height: 870px;
    margin: 0 auto;
}

header{
    width: 1200px;
    height: 50px;
    background-color: white;
}

section{
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
article{
    width: 550px;
    height: 700px;
    background-color: white;
    padding: 15px;
    margin:15px;
    box-shadow: 3px 3px 3px #dedcd1;
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 1200px;
    color:#dedcd1;
    padding-top:5px;
}
footer div{
    border-right: 1px #dedcd1 solid;
    width: 400px;
}
img{
    height: 130px;
}
.klasa{
    font-size: x-large;
}
h2{
    font-size: xxx-large;
}
form{
    background-color: RGB(221,221,221);
    padding: 10px;
}
td{
    width: 110px;
    height: 30px;
    text-align: center;
    border-bottom: 1px grey solid;
}
th{
    width: 90px;
    height: 20px;
    font-weight: bold;
}

/* heder - lista */ 

ul {
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:#FFF;
    font-size:15px;
    height:2em;
    line-height:2em;
}

ul a {
    display:block;
    text-decoration:none;
    padding:0 5px;
    margin-top: 5px;
}

ul > li {
    float:left;
    width:50px;
    margin-left:1px;
    height:2.5em;
}

ul > li:first-child {
    margin-left:0;
}
ul li a:hover{
    color:blue;
}

ul > li:hover > ul {
    display:block;
}

/* Rozwijanie listy */

ul > li > ul {
    display:none;
    list-style-type:none;
    padding:0;
    margin:0;  
}

ul > li > ul > li {
    position:relative;
    background-color:#EEE;
    width: 200px;
    box-shadow: 3px 0px 3px #dedcd1;
    border-bottom: 1px black solid;
}

ul > li > ul > li:hover {
    background-color:#DDD;
}

ul > li > ul > li:hover > a {
    color:#09C;
}

/* Skalowanie ekranu */

@media (max-width: 1000px) {
    body{
        width: 550px;
    }
    
    header{
        width: 550px;
    }
    
    section{
        flex-wrap: wrap;
        width: 550px;
    }
    article{
        width: 550px;
    }
    footer{
        width: 550px;
    }
    footer div{
        width: 400px;
    }
}