body{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    border:1px black solid;
}

header{
    width: 1200px;
    height: 50px;
    background-color: white;
}

section{
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
article{
    width: 550px;
    height: 700px;
    background-color: white;
    padding: 15px;
    margin:15px;
    box-shadow: 3px 3px 3px #dedcd1;
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 1200px;
    color:#dedcd1;
    padding-top:5px;
}
footer div{
    border-right: 1px #dedcd1 solid;
    width: 400px;
}
.klasa{
    font-size: xxx-large;
    color: RGB(34,51,152);
}

/* heder - lista */ 

ul {
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:#FFF;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
}

ul a {
    display:block;
    text-decoration:none;
    color: #c9c7fb;
    padding:0 5px;
}

ul > li {
    float:left;
    width:150px;
    margin-left:1px;
    height:2em;
}

ul > li:first-child {
    margin-left:0;
}

ul > li:hover {
    background-color:#EEE;
}

ul > li:hover > a {
    color:#09C;
}

ul > li:hover > ul {
    display:block;
}

/* Rozwijanie listy */

ul > li > ul {
    display:none;
    list-style-type:none;
    padding:0;
    margin:0;
}

ul > li > ul > li {
    position:relative;
    background-color:#EEE;
}

ul > li > ul > li > a {
    border-top:1px solid #FFF;
}

ul > li > ul > li:hover {
    background-color:#DDD;
}

ul > li > ul > li:hover > a {
    color:#09C;
}

/* Skalowanie ekranu */
